.OrderUser {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.OrderUser2 {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.OrderUser-message {
  width: 50%;
  padding: 5px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.OrderUser-message p{
    font-size: 14px;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}

.OrderUser-bottom {
  font-size: 10px;
  font-weight: 100;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
